@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Monserrat', sans-serif;
  line-height: 1, 5;
  background: #f2f2f2;
  columns: #323232;
}


img {
  max-width: 100%;
}

.icon {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
}

a {
  color: #323232;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 960px;
  margin: 48px auto;
  padding: 32px;
  background: white;
  box-shadow: 0 2px 4px rgba (0, 0, 0, 0.1);
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 24px 0;
  border-bottom: 1px solid lightgrey;
}

section:last-child {
  border-bottom: none;
}

.section-title {
  font-weight: bold;
  font-size: 16px;
}


/***********************
-Main Info
**********************/

img.avatar {
  width: 140px;
}

.my-name {
  font-size: 40px;
  line-height: 1;
}

.my-title {
  font-size: 24px;
  font-weight: 300;
  color: rgb(201, 156, 238);
}

.links {
  display: justify;
  margin: 18px 0 20px 0;
}

.link-item {
  display: none;
  align-items: center;
  flex: 1;
}

.link-item svg {
  margin-right: 6px;
}

/*******************************
* *experience
*******************************/

.job-main {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid lightgrey;
}

.job:last-child {
  border-bottom: none;
}

.job-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.job-company {
  font-weight: : italic bold;
  line-height: 1.2;
}

@media only screen and (max-width: 760px) {
  section {
    grid-template-columns: 1fr;
  }

  .links,
  .job-title-container {
    flex-direction: column;
  }

  .skills-container {
    grid-template-columns: 1fr 1fr;
  }

  .interest-container {
    flex-wrap: warp;
  }

  .interests-container img {
    margin-right: 32px;
    margin-bottom: 16px;
  }
}